{% extends '_base.html.twig' %}

{% block title %}{{ blogPost.title }} - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="{{ blogPost.excerpt }}">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="{{ blogPost.title }}">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ app.request.uri.path }}">
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
    <meta property="article:published_time" content="{{ blogPost.publishedAt|date('c') }}">
    <meta property="og:description" content="{{ blogPost.excerpt }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ app.config.get('APP_URL') }}/static/media{{ media.path }}">
    <meta property="article:author" content="{{ app.config.get('FB_AUTHOR') }}">
    <meta property="article:publisher" content="{{ app.config.get('FB_PUBLISHER') }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <article class="page--blog--detail">
            <header class="page--blog--detail__header">
                <div class="page--blog--detail__cover-image{% if page.amp.active %} page--blog--detail__cover-image--amp{% endif %}"{% if not page.amp.active %} style="background-image: url('/static/media{{ media.path }}')"{% endif %}>
                    {% if page.amp.active %}
                        <amp-img src="/static/media{{ media.path }}" alt="{{ media.name }}" width="{{ media.width }}" height="{{ media.height }}" layout="fill"></amp-img>
                    {% else %}
                        <img src="/static/media{{ media.path }}" alt="{{ media.name }}">
                    {% endif %}
                </div>
                <a class="page--blog--detail__link" title="{{ blogPost.title }}" href="{{ app.router.pathFor('blog.detail', {slug: blogPost.slug}) }}">
                    <h1 class="page--blog--detail__title">{{ blogPost.title }}</h1>
                </a>
                <time class="page--blog--detail__time" title="{{ blogPost.publishedAt|date('F j, Y') }} around {{ blogPost.publishedAt|date('h:i a') }}" datetime="{{ blogPost.publishedAt|date('c') }}" itemprop="datePublished">{{ blogPost.publishedAt|date('M j, Y') }}</time>
            </header>

            <section class="page--blog--detail__body">
                {% markdown %}{{ blogPost.body|raw }}{% endmarkdown %}
            </section>

            <footer class="page--blog--detail__footer">
                <address class="page--blog--detail__author">{{ user.name }}</address>
            </footer>
        </article>
    </div>
{% endblock %}

{% block extra_scripts %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ app.config.get('APP_URL') }}{{ app.request.uri.path }}"
        },
        "headline": "{{ blogPost.title }} - {{ app.config.get('APP_NAME') }}",
        "image": [
            "{{ app.config.get('APP_URL') }}/static/media{{ media.path }}"
        ],
        "dateModified": "{% if blogPost.modifiedAt %}{{ blogPost.modifiedAt|date('c') }}{% else %}{{ blogPost.publishedAt|date('c') }}{% endif %}",
        "datePublished": "{{ blogPost.publishedAt|date('c') }}",
        "author": {
            "@type": "Person",
            "name": "{{ user.name }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ user.name }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ app.config.get('APP_URL') }}/static/images/wouterds.jpg"
            }
        },
        "description": "{{ blogPost.excerpt }}"
    }
</script>
{% endblock %}
