{% extends '_base.html.twig' %}

{% block title %}Blog - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="This is my primary place on the internet where I collect things I made for myself, others or clients. I also write about things I like, things I experienced, guides and tutorials and more.">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="Blog - {{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ app.request.uri.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'components/blog-post-item-list.html.twig' %}
    </div>
{% endblock %}
