{% extends '_base.html.twig' %}

{% block title %}Blog - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extraMeta %}
    <meta name="description" content="{{ app.config.get('BLOG_DESCRIPTION') }}">

    <!-- SEO pagination -->
{% if blogPostPage > 2 %}
    <link rel="prev" href="{{ app.config.get('APP_URL') }}{{ app.router.pathFor('blog.page', { page: (blogPostPage - 1) }) }}">
{% elseif blogPostPage > 1 %}
    <link rel="prev" href="{{ app.config.get('APP_URL') }}{{ app.router.pathFor('index') }}">
{% endif %}
{% if blogPostPage <= blogPostMaxPerPage %}
    <link rel="next" href="{{ app.config.get('APP_URL') }}{{ app.router.pathFor('blog.page', { page: (blogPostPage + 1) }) }}">
{% endif %}
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="Blog - {{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ page.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            {% include 'components/blog-post-item-list.html.twig' %}
        </section>

        <footer>
            {% include 'components/blog-pagination.html.twig' %}
        </footer>
    </div>
{% endblock %}
