<article class="blog-post-item">
    <a class="blog-post-item__link" title="{{ blogPost.title }}" href="{{ app.router.pathFor('blog.detail', {slug: blogPost.slug}) }}">
        <header class="blog-post-item__header">
            <h1 class="blog-post-item__title">{{ blogPost.title }}</h1>
            <time class="blog-post-item__time" title="{{ blogPost.publishedAt|date('F j, Y') }} around {{ blogPost.publishedAt|date('h:i a') }}" datetime="{{ blogPost.publishedAt|date('c') }}" itemprop="datePublished">{{ blogPost.publishedAt|date('M j, Y') }}</time>
        </header>

        <section class="blog-post-item__excerpt">
            <p>{{ blogPost.excerpt }}</p>
        </section>

        <footer class="blog-post-item__footer">
            <address class="blog-post-item__author">{{ blogPost.userId }}</address>
        </footer>
    </a>
</article>
