<article class="blog-post-item">
    <a class="blog-post-item__link" title="{{ blogPost.title }}" href="">
        <header class="blog-post-item__header">
            <h1 class="blog-post-item__title">{{ blogPost.title }}</h1>
            <time class="blog-post-item__time" pubdate datetime="{{ blogPost.publishedAt|date('c') }}">{{ blogPost.publishedAt|date('M j, Y') }}</time>
        </header>

        <section class="blog-post-item__excerpt">
            {% markdown %}{{ blogPost.excerpt }}{% endmarkdown %}
        </section>

        <footer class="blog-post-item__footer">
            <address class="blog-post-item__author">{{ blogPost.userId }}</address>
        </footer>
    </a>
</article>
