<!doctype html>
<!--
                      _               _                _                 _            _
                     | |             | |              | |               | |          | |
 __      _____  _   _| |_ ___ _ __ __| | ___  ___  ___| |__  _   _ _   _| |_ ___ _ __| |__   ___
 \ \ /\ / / _ \| | | | __/ _ \ '__/ _` |/ _ \/ __|/ __| '_ \| | | | | | | __/ _ \ '__| '_ \ / _ \
  \ V  V / (_) | |_| | ||  __/ | | (_| |  __/\__ \ (__| | | | |_| | |_| | ||  __/ | _| |_) |  __/
   \_/\_/ \___/ \__,_|\__\___|_|  \__,_|\___||___/\___|_| |_|\__,_|\__, |\__\___|_|(_)_.__/ \___|
                                                                    __/ |
                                                                   |___/

 v{{ app.config.get('APP_VERSION_NUMBER') }} - {{ app.config.get('APP_VERSION_COMMIT') }}

-->
<html lang="en"{% if page.amp.active %} ⚡{% endif %}>
<head>
{% block head %}
{% if page.amp.active %}
    <!-- amp libs -->
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{% if page.amp.plugins.youtube %}
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{% endif %}
{% if page.amp.plugins.vimeo %}
    <script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>
{% endif %}

{% endif %}
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
{% block extra_meta %}{% endblock %}
{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="{{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ page.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}
{% block twitter %}

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@wouterds">
    <meta name="twitter:title" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}
{% if page.amp.active %}

    <!-- amp -->
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% elseif page.amp.ready %}

    <!-- amp -->
    <link rel="amphtml" href="{% block ampUrl %}{{ app.config.get('APP_URL') }}{{ page.amp.path }}{% endblock %}">
{% endif %}

    <!-- canonical url -->
    <link rel="canonical" href="{% block canonicalUrl %}{{ app.config.get('APP_URL') }}{{ page.path }}{% endblock %}">

    <!-- title -->
    <title>{% block title %}{{ app.config.get('APP_NAME') }}{% endblock %}</title>

    <!-- css -->
{% if page.amp.active %}
    <style amp-custom>{% htmlcompress %}{{ page.amp.css|raw }}{% block extraAmpCss %}{% endblock %}{% endhtmlcompress %}</style>
{% else %}
    <link rel="stylesheet" href="/static/css/main.css?v={{ app.config.get('APP_VERSION_NUMBER') }}">
{% endif %}

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v={{ app.config.get('APP_VERSION_NUMBER') }}">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v={{ app.config.get('APP_VERSION_NUMBER') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v={{ app.config.get('APP_VERSION_NUMBER') }}" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v={{ app.config.get('APP_VERSION_NUMBER') }}">
    <link rel="manifest" href="/manifest.json?v={{ app.config.get('APP_VERSION_NUMBER') }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v={{ app.config.get('APP_VERSION_NUMBER') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- webfonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
{% if not page.amp.active %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
{% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% if not page.amp.active %}

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endif %}
{% endblock %}
</head>
{% htmlcompress %}
<body id="page{{ page.pascalCase }}" class="{{ page.className }}">
    {% include 'components/header.html.twig' %}

    <main role="main" class="main">
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
    </main>

    {% include 'components/footer.html.twig' %}
{% endhtmlcompress %}


<!-- javascript -->
{% htmlcompress %}
{% if page.amp.active %}
<amp-analytics type="googleanalytics">
<script type="application/json">{% htmlcompress %}{
    "vars": {
        "account": "UA-57637936-2"
    },
    "triggers": {
        "trackPageview": {
            "on": "visible",
            "request": "pageview"
        }
    }
}{% endhtmlcompress %}</script>
</amp-analytics>
{% else %}
<script src="/static/js/app.js?v={{ app.config.get('APP_VERSION_NUMBER') }}"></script>
<script async src="https://googletagmanager.com/gtag/js?id=UA-57637936-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); };
    gtag('js', new Date());
    gtag('config', 'UA-57637936-2');
</script>
<script>
    (function(h,o,t,j,a,r) {
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:208637,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endif %}
{% block structured_data %}{% endblock %}
{% endhtmlcompress %}

</body>
</html>
