<!doctype html>
<!--
                      _               _                _                 _            _
                     | |             | |              | |               | |          | |
 __      _____  _   _| |_ ___ _ __ __| | ___  ___  ___| |__  _   _ _   _| |_ ___ _ __| |__   ___
 \ \ /\ / / _ \| | | | __/ _ \ '__/ _` |/ _ \/ __|/ __| '_ \| | | | | | | __/ _ \ '__| '_ \ / _ \
  \ V  V / (_) | |_| | ||  __/ | | (_| |  __/\__ \ (__| | | | |_| | |_| | ||  __/ | _| |_) |  __/
   \_/\_/ \___/ \__,_|\__\___|_|  \__,_|\___||___/\___|_| |_|\__,_|\__, |\__\___|_|(_)_.__/ \___|
                                                                    __/ |
                                                                   |___/

 v{{ app.config.get('APP_VERSION_NUMBER') }} - {{ app.config.get('APP_VERSION_COMMIT') }}

-->
<html lang="en">
<head>
{% block head %}
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
{% block extra_meta %}{% endblock %}
{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="{{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ app.request.uri.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

    <!-- title -->
    <title>{% block title %}{{ app.config.get('APP_NAME') }}{% endblock %}</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/app.css?v={{ app.config.get('APP_VERSION_NUMBER') }}">

    <!-- webfonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font/build/web/hack-subset.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
</head>
{% htmlcompress %}
<body id="page{{ page.info.pascalCase }}" class="{{ page.info.className }}">
    {% include 'components/header.html.twig' %}

    <main role="main" class="main">
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
    </main>

    {% include 'components/footer.html.twig' %}
{% endhtmlcompress %}


<!-- javascript -->
{% htmlcompress %}
<script src="/static/js/app.js?v={{ app.config.get('APP_VERSION_NUMBER') }}"></script>
{% block extra_scripts %}{% endblock %}
<script async src="//googletagmanager.com/gtag/js?id=UA-57637936-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); };
    gtag('js', new Date());
    gtag('config', 'UA-57637936-2');
</script>
{% endhtmlcompress %}

</body>
</html>
