{% extends '_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="h2">Blog <span class="h2__action">(<a href="{{ app.router.pathFor('admin.blog.add') }}">Add</a>)</span></h2>

        <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published at</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Actions</th>
            </tr>
            {% for blogPost in blogPosts %}
                <tr>
                    <td>{{ blogPost.id }}</td>
                    <td>{{ blogPost.title }}</td>
                    <td>{% if attribute(users, blogPost.userId.value).name %}{{ attribute(users, blogPost.userId.value).name }}{% else %}--{% endif %}</td>
                    <td title="{{ blogPost.publishedAt }}">{% if blogPost.publishedAt %}{{ blogPost.publishedAt|date('d.m.Y, H:i') }}{% else %}--{% endif %}</td>
                    <td title="{{ blogPost.createdAt }}">{{ blogPost.createdAt|date('d.m.Y, H:i') }}</td>
                    <td title="{{ blogPost.updatedAt }}">{% if blogPost.updatedAt %}{{ blogPost.updatedAt|date('d.m.Y, H:i') }}{% else %}--{% endif %}</td>
                    <td class="actions">
                        <a href="/blog/{{ blogPost.slug }}">View</a>
                        <a href="{{ app.router.pathFor('admin.blog.edit', {id: blogPost.id}) }}">Edit</a>
                        <a href="{{ app.router.pathFor('admin.blog.delete', {id: blogPost.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
