<li class="header__navigation__item{% if page.dashedCase == 'index' %} header__navigation__item--active{% endif %}">
    <a class="header__navigation__item-link" href="{{ app.router.pathFor('index') }}">Home</a>
</li>
<li class="header__navigation__item{% if 'about' in page.dashedCase %} header__navigation__item--active{% endif %}">
    <a class="header__navigation__item-link" href="{{ app.router.pathFor('about') }}">About</a>
</li>
<!-- <li class="header__navigation__item{% if 'projects' in page.dashedCase %} header__navigation__item--active{% endif %}">
    <a class="header__navigation__item-link header__navigation__item-link--disabled" href="">Projects</a>
</li> -->
<li class="header__navigation__item{% if 'blog' in page.dashedCase %} header__navigation__item--active{% endif %}">
    <a class="header__navigation__item-link" href="{{ app.router.pathFor('blog') }}">Blog</a>
</li>
<li class="header__navigation__item{% if 'contact' in page.dashedCase %} header__navigation__item--active{% endif %}">
    <a class="header__navigation__item-link" href="{{ app.router.pathFor('contact') }}">Contact</a>
</li>
{% if 'stats' in page.dashedCase %}
    <li class="header__navigation__item header__navigation__item--active">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('stats') }}">Stats</a>
    </li>
{% endif %}
{% if app.request.getCookieParam('user_session_id') %}
    <li class="header__navigation__item">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin') }}">Admin</a>
    </li>
{% endif %}
