{% extends '_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2>Users</h2>

        <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Activated at</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td title="{{ user.activatedAt }}">{% if user.activatedAt %}{{ user.activatedAt|date('d.m.Y, H:i') }}{% else %}Not activated{% endif %}</td>
                    <td title="{{ user.createdAt }}">{{ user.createdAt|date('d.m.Y, H:i') }}</td>
                    <td title="{{ user.updatedAt }}">{% if user.updatedAt %}{{ user.updatedAt|date('d.m.Y, H:i') }}{% else %}--{% endif %}</td>
                    <td class="actions">
                        <a href="{{ app.router.pathFor('admin.users.activate', {'id': user.id}) }}"{% if user.activatedAt is not null %} class="hidden"{% endif %}>Activate</a>
                        <a href="{{ app.router.pathFor('admin.users.deactivate', {'id': user.id}) }}"{% if user.activatedAt is null %} class="hidden"{% endif %}>Deactivate</a>
                        <a href="{{ app.router.pathFor('admin.users.delete', {'id': user.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
