{% if user %}
    <li class="header__navigation__item{% if page.info.dashedCase == 'overview' %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.overview') }}">Overview</a>
    </li>
    <li class="header__navigation__item{% if page.info.dashedCase == 'media' %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.media') }}">Media</a>
    </li>
    <li class="header__navigation__item{% if page.info.dashedCase == 'sign-out' %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.sign-out') }}">Sign out</a>
    </li>
{% else %}
    <li class="header__navigation__item{% if page.info.dashedCase == 'sign-in' %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.sign-in') }}">Sign in</a>
    </li>
    <li class="header__navigation__item{% if page.info.dashedCase == 'sign-up' %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.sign-up') }}">Sign up</a>
    </li>
{% endif %}
