{% if user %}
    <li class="header__navigation__item{% if 'admin-index' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin') }}">Overview</a>
    </li>
    <li class="header__navigation__item{% if 'admin-users' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.users') }}">Users</a>
    </li>
    <li class="header__navigation__item{% if 'admin-media' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.media') }}">Media</a>
    </li>
    <li class="header__navigation__item{% if 'admin-blog' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.blog') }}">Blog</a>
    </li>
    <li class="header__navigation__item{% if 'sign-out' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.sign-out') }}">Sign Out</a>
    </li>
{% else %}
    <li class="header__navigation__item{% if 'sign-in' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.users.sign-in') }}">Sign In</a>
    </li>
    <li class="header__navigation__item{% if 'sign-up' in page.dashedCase %} header__navigation__item--active{% endif %}">
        <a class="header__navigation__item-link" href="{{ app.router.pathFor('admin.users.sign-up') }}">Sign Up</a>
    </li>
{% endif %}
