{% extends '_base.html.twig' %}

{% block title %}Projects - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extraMeta %}
    <meta name="description" content="While I have many many projects and I start about every week a new one I tend to list a few here that I really enjoyed doing and am/was proud of. I promise I won't start deleting or censoring them after a while when I think they are stupid!">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="Projects - {{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ page.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h2 class="h2">Projects</h2>
            <p>While I have many many projects and I start a new one about every other month I tend to list a few here that I really enjoyed doing and am/was proud of. I promise I won't start deleting or censoring them after a while when I think they are stupid! (yes, that has happened before 🙄..)</p>
            <p>Other than that this page is still work in progress 🚧, hope to have a system in place soon-ish 😄!</p>
        </section>
    </div>
{% endblock %}
