{% extends '_base.html.twig' %}

{% block title %}About - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extraMeta %}
    <meta name="description" content="Hi there, I am Wouter! I'm {{ age }} years old and passionate about all things digital really. I studied Digital Design & Development at Howest University College and am currently working as a full stack developer at Teamleader. Before that I used to work as web & mobile developer at a real estate startup, Realo and in between also a few months as a full stack dev at In The Pocket agency.">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="About - {{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ page.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h2 class="h2">About me</h2>
            <p>Hi there, I am Wouter! I'm <span data-id="age" data-birthday="{{ birthday }}">{{ age }}</span> years old and passionate about all things digital really.</p>
            <p>I've studied Digital Design &amp; Development at Howest University College and am currently working as a full stack developer at <a href="https://getdelta.io/" target="_blank">Delta</a>. Before that I used to work (also as a full stack dev) at <a href="https://teamleader.eu/" target="_blank">Teamleader</a> &amp; <a href="https://inthepocket.mobi/" target="_blank">In The Pocket</a> agency. And before that as a web &amp; mobile developer at a real estate startup, <a href="https://realo.com/" target="_blank">Realo</a>.</p>
            <p>When I'm not creating kickass web applications I'm fiddling around with electronics, making tracking devices, robots, drones and other (useless ..?) fun projects using Arduino and Raspberry Pi. Besides all of that I love travelling, nature, trying new things and pushing my own limits. I'm also a data geek, graphs &amp; stats are real motivators for me (loyal Fitbit user).</p>
            <p>Since a few months I'm involved also in the crypto space, it's the most interesting thing since I discovered how to make websites and apps. I love blockchain and how it has the ability to disrupt entire markets. Feel free to come have a look and chat about crypto on
                <a href="https://talkingcrypto.party/" target="_blank">Talking Crypto</a>!</p>
            <p>Oh right, also a cat person!</p>
        </section>

        <section>
            <h2 class="h2">About this website</h2>
            <p>This website is my primary place on the internet where I collect work that I made for myself, others and clients. I also write here about what I do, what I like, things I experienced, guides and more.</p>
            <p><s>It grew out of an old website that used to be the face of my secondary activity, but I decided to end that because it was becoming a bit too much.</s> It's also the face of my secondary activity where I once in a while do some IT Consultancy &amp; side projects. The current revision is also the sixth time I started from scratch and changed domains twice ¯\_(ツ)_/¯.. Don't ask .</p>
        </section>

        <section>
            <h2 class="h2">Connect with me</h2>
            <ul class="social-buttons">
                <li><a target="_blank" href="https://twitter.com/wouterds" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://facebook.com/wouterdeschuyter.be" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://instagram.com/wouterds" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://vimeo.com/wouterds" title="Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://linkedin.com/in/wouterds" title="Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://github.com/wouterds" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </section>
    </div>
{% endblock %}

{% block structuredData %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Wouter De Schuyter",
    "url": "{{ app.config.get('APP_URL') }}",
    "sameAs": [
        "https://twitter.com/wouterds",
        "https://facebook.com/wouterdeschuyter.be",
        "https://instagram.com/wouterds",
        "https://vimeo.com/wouterds",
        "https://linkedin.com/in/wouterds",
        "https://github.com/wouterds"
    ]
}
</script>
{% endblock %}
