{% extends '_base.html.twig' %}

{% block extraMeta %}
    <meta name="description" content="Hi, I'm Wouter! I'm an ambitious, passionate Full Stack Developer and I like all things digital really! Currently focussing a lot on crypto and blockchain.">
{% endblock %}

{% block ampUrl %}{{ app.config.get('APP_URL') }}{{ app.router.pathFor('index:amp') }}{% endblock %}

{% block canonicalUrl %}{{ app.config.get('APP_URL') }}{{ app.router.pathFor('index') }}{% endblock %}

{% block body %}
    <div class="container">
        <section class="sub-header">
            <a href="{{ app.router.pathFor('about') }}" title="About">
                {% if page.amp.active %}
                    <div class="sub-header__image">
                        <amp-img src="/static/images/wouterds.jpg" alt="wouterds.jpg" layout="fixed" height="110px" width="110px"></amp-img>
                    </div>
                {% else %}
                    <img class="sub-header__image" src="/static/images/wouterds.jpg" alt="wouterds.jpg">
                {% endif %}

                <h1>Wouter De Schuyter</h1>
                <h2>An ambitious, passionate Full Stack Developer</h2>
            </a>

            <hr>
        </section>
        <section>
            {% include 'components/blog-post-item-list.html.twig' %}
        </section>

        <footer>
            {% include 'components/blog-pagination.html.twig' %}
        </footer>
    </div>
{% endblock %}
