{% extends '_base.html.twig' %}

{% block title %}Stats - {{ app.config.get('APP_NAME') }}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="The ultimate geek page! No, I don't know, just some stats &amp; logging and other things I track.">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="About - {{ app.config.get('APP_NAME') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ app.request.uri.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h2>Stats</h2>

            <p>The ultimate geek page! No, I don't know, just some stats &amp; logging and other things I track.</p>

            <h3>Responses status codes (last 24 hours)</h3>

            <div class="bar-chart-container">
                <canvas class="bar-chart" data-id="responseCodesPerHourLastDayChart" data-data="{{ responseCodesPerHourLastDay|json_encode }}" width="600px" height="300px"></canvas>
            </div>

            <h3>Response count (last 7 days)</h3>
            <br>
            <br>
            <div class="bar-chart-container">
                <canvas class="bar-chart" data-id="responseCountLast7DaysChart" data-data="{{ responseCountLast7Days|json_encode }}" width="600px" height="250px"></canvas>
            </div>
        </section>
    </div>
{% endblock %}
