{% extends '_base.html.twig' %}

{% block title %}Stats - {{ app.config.get('APP_NAME') }}{% endblock %}

{% set summary %}
{% htmlcompress %}
    The ultimate geek page! No, I don't know, just some stats &amp; logging and other things I track.
    Because of this tracking I know that I had
    <strong>{{ visitsLastDay }} visits</strong>
    from <strong>{{ uniqueVisitsLastDay }} unique visitors</strong>
    of <strong>{{ uniqueCountriesLastDay }} different countries</strong>
    in the <strong>last 24 hours</strong>.

    Or
    <strong>{{ visitsLastWeek }} visits</strong>
    from <strong>{{ uniqueVisitsLastWeek }} unique visitors</strong>
    of <strong>{{ uniqueCountriesLastWeek }} different countries</strong>
    in the <strong>last 7 days</strong>.
{% endhtmlcompress %}
{% endset %}

{% block extra_meta %}
    <meta name="description" content="{{ summary|striptags|raw }}">
{% endblock %}

{% block opengraph %}

    <!-- opengraph -->
    <meta property="og:title" content="Stats - {{ app.config.get('APP_NAME') }}">
    <meta name="og:description" content="{{ summary|striptags|raw }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.config.get('APP_URL') }}{{ page.path }}">
    <meta property="fb:pages" content="{{ app.config.get('FB_PAGE_ID') }}" />
    <meta property="og:site_name" content="{{ app.config.get('APP_NAME') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h2>Stats</h2>
            <p>{{ summary|raw }}</p>

            <h3>Response Count</h3>
            <br>
            <h4>By status code (grouped per hour, last 24 hours)</h4>
            <br>

            <div class="bar-chart-container">
                <canvas class="bar-chart" data-id="responseCodesPerHourLastDayChart" data-data="{{ responseCodesPerHourLastDay|json_encode }}" width="600px" height="300px"></canvas>
            </div>

            <br>

            <h4>Total (grouped per 4 hours, last 7 days)</h4>
            <br><br>

            <div class="bar-chart-container">
                <canvas class="bar-chart" data-id="responseCountLast7DaysChart" data-data="{{ responseCountLast7Days|json_encode }}" width="600px" height="250px"></canvas>
            </div>
        </section>
    </div>
{% endblock %}
